.detail-specialty-container {
  background-color: #eae9e9;

  .description-specialty {
    padding: 10px;
    background-color: white !important;
    margin: 15px 0;

    .clinic-sub-infor {
      display: flex;
      flex-direction: column;
      padding: 20px 0 20px 30px;
      border-bottom: 1px solid #d1cfcf;
      margin-bottom: 15px;

      .clinic-sub-name {
        font-size: 20px;
        font-weight: 600;
      }

      .clinic-sub-address {
        font-size: 16px;
      }
    }

    h1,
    h2,
    h3 {
      font-weight: bold;
    }

    h1 {
      font-size: 17px;
    }

    h2 {
      font-size: 16px;
    }

    h3 {
      font-size: 15px;
    }
  }

  .search-sp-doctor {
    select {
      height: 30px;
      padding: 5px 8px;
      border: none;
      outline: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  .detail-specialty-body {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
  }

  .each-doctor {
    display: flex;
    width: 100%;
    min-height: 300px;
    margin: 15px 0;
    background-color: #fff;
    box-shadow: 0 1px 6px #20212447;
    border-radius: 8px;
    padding: 10px;

    .dt-content-left {
      width: 50%;
      border-right: 1px solid #ddd;

      .profile-doctor-container {
        .down {
          padding: 5px;
        }
  }
    }

    .dt-content-right {
      width: 50%;
      padding: 10px;

      .doctor-schedule {
        .doctor-schedule-container {
          border-right: unset !important;
        }
      }

      .doctor-extra-infor {
        border-top: 1px solid #ddd;
        margin-top: 10px;
        padding-top: 10px;

        .doctor-extra-infor-container {
          padding-left: 0 !important;
        }
      }
    }
  }
}
